<div class="center">
  <a href="{{ .Site.Params.author.github }}" class="social-icon">
    <i class="fa fa-github fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;
  </a>

  <a href="{{ .Site.Params.author.gacebook }}" class="social-icon">
    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;
  </a>

  <a href="{{ .Site.Params.author.twitter }}" class="social-icon">
    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;
  </a>

  <a href="{{ .Site.Params.author.youtube }}" class="social-icon">
    <i class="fa fa-youtube fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;
  </a>

  <a href="{{ .Site.Params.author.instagram }}" class="social-icon">
    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;
  </a>

  <a href="{{ .Site.Params.author.flickr }}" class="social-icon">
    <i class="fa fa-flickr fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;
  </a>
</div>
